*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#090909;
color:white;
}

header{

position:fixed;
top:0;
left:0;
width:100%;

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:rgba(0,0,0,.55);

backdrop-filter:blur(12px);

z-index:999;

}

.logo{

font-size:30px;

font-weight:700;

color:#D4AF37;

}

nav a{

color:white;

text-decoration:none;

margin-left:25px;

transition:.4s;

}

nav a:hover{

color:#D4AF37;

}

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

background:

linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.70)),

url("https://images.unsplash.com/photo-1511578314322-379afb476865?auto=format&fit=crop&w=1800&q=80");

background-size:cover;

background-position:center;

}

.hero h1{

font-size:72px;

}

.hero span{

color:#D4AF37;

}

.hero p{

margin-top:20px;

font-size:24px;

}

.buttons{

margin-top:40px;

}

.buttons a{

padding:16px 40px;

border-radius:50px;

text-decoration:none;

font-weight:bold;

margin:10px;

display:inline-block;

transition:.3s;

}

.gold{

background:#D4AF37;

color:black;

}

.white{

border:2px solid white;

color:white;

}

.buttons a:hover{

transform:scale(1.05);

}
